@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&family=Slackey&display=swap');

*{
    padding: 0;
    margin:0;
    display:box;    
}

html,body #root{
    background-color:greenyellow;
}

/**********HEADER**********/

.header{
    display:flex;
    background-color: orangered;
    height:100px;
}

.header__title{
    font-family: 'Slackey', cursive;
    color:rgb(10, 195, 241);
    width:100%;
    padding-top:25px;
    padding-left:15px;
}

/********NAVBAR*******/

.navbar{
    margin-left:8ex;
    width: 90%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__link{  
    font-family: 'Slackey', cursive;
    text-decoration: none;
    color:yellow;
    font-size: 1rem;
}

.linkCarrito{
    text-decoration: none;
    color:black;
    width:11%;
    font-size: 0.9rem; 
}

/********CARRITO********/
.material-icons{
    width: 40%;
    color: black;
}

#layout-header nav a{
    margin-left:0.5rem;
    margin-right:1rem;
}

.estiloMain h2{
    font-size: 2.5rem;
    font-family: 'Slackey', cursive;
    text-align: center;
    margin-top: 2rem;
}

.estiloMain{
    background-color: greenyellow;
    padding: 10px; 
}

.estiloTitulo{
    margin-bottom: 35px; 
}

/******ITEMLISTCONTAINER********/

.estiloItemListContainer{
    background-color:greenyellow;
    display:flex;
    justify-content:space-around;
    width:100%;
}

.productosILC{
    min-height:80vh;    
}

.tituloCategoria{
    font-family: 'Kanit', sans-serif;
    font-size: 2.5rem;
    margin-left:20px;
}

/********ITEM*******/

.CardI{    
    margin-left: 20px;  
    margin-bottom: 40px; 
}

.BodyI{
    display:flex;
    flex-direction: column;
    justify-content:left;
    align-items:flex-start;
}

.titleCardIL{
    font-size: 0.1rem;
}

.buttonIL{
    position: relative;      
    background-color:lightblue;
}

/********ITEMDETAILCONTAINER*********/
div.classIDC{
    width:100%;
    display:flex;
    margin-bottom:50px; 
}

/*******ITEMDETAIL********/

.cardDetails{
    display:flex;
    justify-content:center;
    align-items:center;
    width:90%;
}

.cardBodyID{
    width:30%;
    display:flex;
    flex-direction: column;
}

.cardImagenID{
    margin-top:40px;
    margin-left:30px;
    margin-right:10px;
}

.carousel{
    margin-right:60px;
    margin-left:20px;
    display:flex;
    justify-content: center;
    align-items: center;  
}

/***********CARRITO**********/
.containerCarrito1{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-color:greenyellow;
}

.containerCarrito2{
    display:flex;
    flex-direction:column-reverse;

}

#productosCarrito{
    padding-top:30px; 
    background-color: greenyellow;
}

#tituloProductosCarrito{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    margin-left: 20px;
}

.carritoNombre{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.carritoInfo{
    display:flex; 
    margin-bottom:30px;
    margin-top: 30px;
    margin-left:20px;
}

.buttonBorrar{
    width:20%;
    margin-bottom: 11px;
    margin-top:10px;
    margin-right:20px;
    padding:4px;
    border-radius:15px;
}

.seguirComprando{
    border-radius:25px;
    background-color:green;
    color:white;
    text-decoration: none;
    padding:6px 6px 7px 22px;
    width:20%;   
}

.botonesProdCarrito{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.buttonFinalizar{
    width:15%;
    padding-top: 100px;
    margin-right:5px;
    margin-left:5px;
}

.bg-warning{
    width:20%;
    padding-top: 100px;
    margin-right:5px;
    margin-left:5px;
}

.vaciarCarrito{
    width:15%;
    padding-top: 100px;
    margin-right:5px;
    margin-left:5px;
}

.imgCarrito{
    width:30%;
    margin-top:20px;
}

.carritoDetalles{
    width:100%;
    margin-left: 50px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.compraTotal{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-right:40px;
}

.linkCarrito:hover{
    color:black;
}

/*****ITEMCOUNTCARRITO*****/
.countCarrito{
    display:flex;
    flex-direction: column;
}

/******FOOTER*******/

#main-footer{
    background-color:orangered;
    font-family: 'Slackey', cursive;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.texto-footer{
    margin-top:20px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.linksFooter{
    margin-left:250px;
    background-color: green;
}

.nav_link_footer{
    color:yellow;
    padding-left:10px;
    padding-right:10px;
    font-size: 1.3rem;
    text-decoration: none;
}

.nav_link_footer:hover{
    color:yellow;
}

/*******TERMINAR LA COMPRA*******/
.fragmentTerminar{
    min-height:100vh;
}

.tituloTerminar{
    font-family: 'Slackey', cursive;
    text-align:center;
    margin:20px;
}

.parrafoTerminar{
    font-family: 'Kanit', sans-serif;
    margin-left:10px;
    font-size: 1.2rem;
}

.formularioTerminar{
    font-family: 'Kanit', sans-serif;
    margin:20px;
}

.formTerminar{
    font-family: 'Kanit', sans-serif;
    display:flex;
    flex-direction:column;
    padding:20px;
    width:30%;
}

.buttonEnviar{
    margin-left:60px;
    
}

.datosTerminar{
    margin-bottom:20px;
    width:100%;
}

.nombreTerminar{
    width:100%;
}



















